<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Posts</h1>
<a href="{% url 'post_add' %}">+ Add Post</a>
<ul>
  {% for post in object_list %}
    <li>
      <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a> by {{ post.author.name }}
    </li>
  {% empty %}
    <li>No posts found.</li>
  {% endfor %}
</ul>
<a href="{% url 'author_list' %}">View Authors</a>

</body>
</html>