<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{ object.title }}</h2>
<p>{{ object.content }}</p>
<p><b>Author:</b> {{ object.author.name }}</p>
<p><b>Created:</b> {{ object.created_at }}</p>
<a href="{% url 'post_edit' object.id %}">Edit</a> |
<a href="{% url 'post_delete' object.id %}">Delete</a> |
<a href="{% url 'post_list' %}">Back</a>

</body>
</html>